<nav class="app-navbar">
  <div class="nav-container">
    <a class="nav-brand" routerLink="/">Gestión de Productos</a>
    
    <div class="nav-content" id="navbarNav">
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
      </ul>
      <ul class="nav-auth">
        @if (isAuthenticated$ | async) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/favorites">Favoritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              {{ userName }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categorias</a>
          </li>
          <li class="nav-item">
            <button class="nav-btn-logout" (click)="logout()">Cerrar sesión</button>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-btn-register" routerLink="/register">Registrarse</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
