<aside class="sidebar bg-light border-end p-3">
  <h5 class="mb-3">Menu</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Inicio</a>
    </li>
    @if (isAuthenticated$ | async) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favorites">Favoritos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Mi Perfil</a>
      </li>
    }
  </ul>
</aside>
